<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
</head>
<body>
    <h1>Lista de Filmes Cadastrado por Usuarios</h1>
    <table>
        <tr>
            <th>Titulo do Filme</th>
            <th>Ano de Lançamento</th>
            <th>Genero</th>
            <th>Cadastrado pelo usuario</th>
            <th></th>
            
        </tr>
        <tr>
        {% for filme in filmes %}
            <td>{{ filme.titulo }}</td>
            <td>{{ filme.ano }}</td>
            <td>{{ filme.genero }}</td>
            <td>{{ filme.usuario.nome_usuario }}    
    
            <td><a href="{% url 'avaliador:deletar_filme' filme.pk %}"><button>Deletar</button></a></td>
        </tr>
        {% empty %}
        <li>Nenhum usuário cadastrado. </li>
        {% endfor %}  
    </table>
    <a href="{% url 'avaliador:criar_filme' %}"><button>Cadastrar Novo Filme</button></a> 
</body>
</html>