<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
</head>
<body>
<div style="text-align: center;">
    <h1>Lista de Usuários</h1>
    <table style="margin: auto; border: 2px solid;">
        <tr>
            <th style="border: 1px solid;">Nome do Usuario</th>
            <th style="border: 1px solid;">Email do Usuario</th>
            <th style="border: 1px solid;">Opções</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td style="border: 1px solid;">{{ usuario.nome_usuario }}</td>
            <td style="border: 1px solid;">{{ usuario.email_usuario }} </td>

            <td style="border: 1px solid;"><a href="{% url 'avaliador:deletar' usuario.pk %}"><button>Deletar</button></a>
                <a href="{% url 'avaliador:atualizar' usuario.pk %}"><button>Editar</button></a></td>
        </tr>
        {% empty %}
        <li>Nenhum usuário cadastrado.</li> 
        <br>
       
        
        {% endfor %}
        
    </table>
    <br><br>
    <a href="{% url 'avaliador:criar' %}"><button>Cadastrar Novo Usuario</button></a>
    <br><br>
    <a href="{% url 'avaliador:listar_filme' %}"><button>Cadastrar Novo Filme</button></a>
    <br><br>
    <a href="{% url 'avaliador:home' %}"><button>Voltar</button></a>
</div>
</body>
</html>